.container {
    padding-top:70px;
    
}


.event-list{
    padding-top:0;
}


.img-circle {
   border-radius: 50%;
   width:35px;
    
}
.profil-link {
    display:inline-block;
}
.jumbotron {
    background:none;
}
#filter-form{
    background-color:#dee6ed;
    padding: 1.5em;
}